@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  height: 120px;
  z-index: 1000;
  transition: background-color 0.3s;
}
.nav.scrolled {
  background-color: #15548D;
}
.nav .nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.nav .nav-head .nav-logo {
  position: absolute;
  left: 61px;
  width: 148px;
  height: 50px;
}
.nav .nav-head .nav-logo img {
  width: 100%;
  height: auto;
}
.nav .nav-head .nav-menu {
  position: relative;
  left: 270px;
}
.nav .nav-head .nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav .nav-head .nav-menu ul li {
  display: inline-block;
  margin-right: 40px;
}
.nav .nav-head .nav-menu ul li a {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.68px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}
.nav .nav-head .nav-menu ul li a:hover {
  color: #1e1e1e;
}
.nav .nav-button {
  position: relative;
  top: 34PX;
  left: 600px;
  width: 221px;
  height: 52px;
  gap: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: #29679F;
}
.nav .nav-button img {
  margin-right: 10px;
  margin-left: 10px;
}
.nav .nav-button select {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.nav .nav-button select::-ms-expand {
  display: none;
}
.nav .nav-button select::after {
  content: "▼";
  font-size: 12px;
  color: white;
  margin-left: 10px;
}
.nav .nav-button select option {
  background: white;
  color: black;
}

.s-hero {
  width: 100%;
  height: 801px;
  background-color: #15548D;
}
.s-hero .s-hero-img {
  position: absolute;
  width: 610px;
  height: 790px;
  right: 0px;
  border-radius: 0px 0px 0px 80px;
}
.s-hero .s-hero-content-path {
  position: relative;
  top: 206px;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  gap: 14px;
}
.s-hero .s-hero-content-path img {
  width: 30px;
  height: 3px;
  align-items: center;
}
.s-hero .s-hero-content-path h2 {
  width: 257px;
  color: #FFF;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 16px */
  text-transform: uppercase;
  margin-bottom: 0;
}
.s-hero .s-hero-content-tittle {
  position: relative;
  top: 253px;
  color: #FFFFFF;
  width: 675px;
  height: 204px;
}
.s-hero .s-hero-content-tittle h1 {
  width: 100%;
  height: 118px;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.9px;
  font-family: "Outfit", sans-serif;
}
.s-hero .s-hero-content-tittle p {
  width: 645px;
  height: 70px;
  position: relative;
  top: 16px;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 35.2px;
  font-family: "Outfit", sans-serif;
}
.s-hero .s-hero-button {
  width: 404.7px;
  height: 74px;
  position: relative;
  top: 293px;
}
.s-hero .s-hero-button .s-hero-button-primary {
  display: flex;
  width: 404.7px;
  height: 74px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 1000px;
  background-color: #FAC568;
  color: #000;
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
}
.s-hero .s-hero-scroll {
  position: absolute;
  left: 39px;
  top: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 37px;
  height: 102px;
}
.s-hero .s-hero-scroll h4 {
  width: 54px;
  height: 37px;
  transform: rotate(90deg);
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
  font-size: 22px;
  font-style: normal;
  line-height: 35.2px;
}
.s-hero .s-hero-scroll img {
  display: flex;
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;
}

.s-workflow {
  background-color: #ffffff;
  width: 100%;
  height: 720px;
}
.s-workflow .s-workflow-head {
  position: relative;
  top: 0px;
  width: 589px;
  height: 143px;
}
.s-workflow .s-workflow-head .s-workflow-head-path {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-workflow .s-workflow-head .s-workflow-head-path h2 {
  font-size: 17px;
  font-family: "Outfit", sans-serif;
  align-items: center;
  font-weight: 500;
}
.s-workflow .s-workflow-head .s-workflow-head-tittle h1 {
  font-size: 34px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: #333;
  font-style: normal;
  line-height: 51px;
}
.s-workflow .s-workflow-item-1 {
  width: 261.41px;
  height: 290.86px;
  position: absolute;
  top: 1099.57px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-img-1 {
  width: 150px;
  height: 150px;
  border-radius: 868.17px;
  box-shadow: 0px 4.82px 38.59px 0px #FFF0DE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-img-1 img {
  width: 96.46px;
  height: 96.46px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-content-1 {
  color: #333333;
  font-family: "Outfit", sans-serif;
  width: 261.41px;
  height: 119.34px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-content-1 .s-workflow-item-content-tittle-1 {
  position: relative;
  top: 21.53px;
  width: 210.29px;
  height: 33px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-content-1 .s-workflow-item-content-deskripsi-1 {
  position: relative;
  top: 62.86px;
  width: 261.41px;
  height: 78px;
  font-weight: 300;
  font-size: 17px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-2 {
  width: 286.495px;
  height: 290.865px;
  position: absolute;
  top: 1018.57px;
  margin-left: 289.25px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-img-2 {
  width: 150px;
  height: 150px;
  border-radius: 868.17px;
  box-shadow: 0px 4.82px 38.59px 0px #FFF0DE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-img-2 img {
  width: 96.46px;
  height: 96.46px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-content-2 {
  color: #333333;
  font-family: "Outfit", sans-serif;
  width: 261.41px;
  height: 119.34px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-content-2 .s-workflow-item-content-tittle-2 {
  position: relative;
  top: 21.53px;
  width: 210.29px;
  height: 33px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-content-2 .s-workflow-item-content-deskripsi-2 {
  position: relative;
  top: 62.86px;
  width: 261.41px;
  height: 78px;
  font-weight: 300;
  font-size: 17px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-3 {
  width: 321px;
  height: 297.806px;
  position: absolute;
  top: 1056.19px;
  margin-left: 651px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-img-3 {
  width: 150px;
  height: 150px;
  border-radius: 868.17px;
  box-shadow: 0px 4.82px 38.59px 0px #FFF0DE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-img-3 img {
  width: 96.46px;
  height: 96.46px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-content-3 {
  color: #333333;
  font-family: "Outfit", sans-serif;
  width: 261.41px;
  height: 119.34px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-content-3 .s-workflow-item-content-tittle-3 {
  position: relative;
  top: 21.53px;
  width: 210.29px;
  height: 33px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-content-3 .s-workflow-item-content-deskripsi-3 {
  position: relative;
  top: 62.86px;
  width: 261.41px;
  height: 78px;
  font-weight: 300;
  font-size: 17px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-4 {
  width: 261.41px;
  height: 290.86px;
  position: absolute;
  top: 932.19px;
  margin-left: 953.89px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-img-4 {
  width: 150px;
  height: 150px;
  border-radius: 868.17px;
  box-shadow: 0px 4.82px 38.59px 0px #FFF0DE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-img-4 img {
  width: 96.46px;
  height: 96.46px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-content-4 {
  color: #333333;
  font-family: "Outfit", sans-serif;
  width: 261.41px;
  height: 119.34px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-content-4 .s-workflow-item-content-tittle-4 {
  position: relative;
  top: 21.53px;
  width: 210.29px;
  height: 33px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-content-4 .s-workflow-item-content-deskripsi-4 {
  position: relative;
  top: 62.86px;
  width: 261.41px;
  height: 78px;
  font-weight: 300;
  font-size: 17px;
  line-height: 33px;
}

.s-services {
  background-color: #F7F8FD;
  width: 100%;
  height: 705px;
}
.s-services .s-services-head {
  position: relative;
  top: 92px;
  width: 1, 181px;
  height: 94px;
}
.s-services .s-services-head .s-services-head-path {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-services .s-services-head .s-services-head-path h2 {
  margin-bottom: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}
.s-services .s-services-head .s-services-head-tittle {
  margin-top: 24px;
  color: #333333;
  color: #333;
  font-family: "Outfit", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 52.5px */
}
.s-services .s-services-content {
  position: relative;
  top: 139px;
  width: 1183px;
  height: 370px;
  justify-content: space-between;
  gap: 59px;
  display: flex;
}
.s-services .s-services-content .s-services-content-card {
  width: 355px;
  height: 370px;
  background: #FFFFFF;
  border: 0.97px solid #DDDDDD;
  border-radius: 32px;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-marker {
  position: relative;
  margin-top: 0;
  left: 38.3px;
  width: 246.581px;
  color: #FAC568;
  text-align: right;
  font-family: "Outfit", sans-serif;
  font-size: 31.123px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 31.123px */
  text-transform: uppercase;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-img img {
  position: relative;
  margin-top: 34px;
  margin-left: 40px;
  width: 140px;
  height: 140px;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-tittle h1 {
  color: #000000;
  font-family: "Outfit", sans-serif;
  width: 254px;
  height: 72px;
  font-size: 26px;
  line-height: 36.4px;
  font-weight: 500;
  position: relative;
  margin-top: 14px;
  margin-left: 40px;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-button {
  position: relative;
  margin-top: 23px;
  margin-left: 36px;
  width: 200px;
  height: 48px;
  background-color: #FAC568;
  border-radius: 54.38px;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-button a {
  color: #000000;
  font-family: "Outfit", sans-serif;
  width: 102px;
  height: 28px;
  font-size: 17.22px;
  font-weight: 400;
  line-height: 27.55px;
  position: relative;
  top: 7px;
  left: 31px;
}

.s-project .s-project-head {
  position: absolute;
  top: 2269px;
  width: 1182px;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s-project .s-project-head .s-project-head-path {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  height: 28.4px;
  width: 100%;
}
.s-project .s-project-head .s-project-head-path h2 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.s-project .s-project-head .s-project-head-tittle {
  position: relative;
  top: 22px;
}
.s-project .s-project-head .s-project-head-tittle h1 {
  font-size: 34px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  text-align: center;
}
.s-project .s-project-content {
  width: Hug 1, 182px;
  height: Hug 380px;
  position: absolute;
  top: 2433px;
}
.s-project .s-project-content .s-project-content-deskripsi {
  position: absolute;
  left: 101px;
  top: 105.87px;
  width: 618.55px;
  height: 169.36px;
  font-family: "Outfit", sans-serif;
}
.s-project .s-project-content .s-project-content-deskripsi h6 {
  width: 618.55px;
  height: 28.76px;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 3%;
  color: #000000;
  margin-bottom: 26.88px;
}
.s-project .s-project-content .s-project-content-deskripsi h1 {
  color: #333333;
  width: 618.55px;
  font-family: "Outfit", sans-serif;
  font-size: 53px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 53px */
  margin-bottom: 20.14px;
}
.s-project .s-project-content .s-project-content-deskripsi p {
  color: #404040;
  height: 32px;
  width: 482.98px;
  font-weight: 300;
  font-size: 32px;
  line-height: 32px;
}
.s-project .s-project-content .s-project-content-detail {
  width: 230.72px;
  height: 48px;
  position: absolute;
  top: 265px;
  left: 860px;
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-project .s-project-content .s-project-content-detail .s-project-content-detail-button {
  width: 59.08px;
  height: 59.16px;
  border-radius: 84.45px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-project .s-project-content .s-project-content-detail .s-project-content-detail-button img {
  width: 33px;
  height: 33px;
}
.s-project .s-project-content .s-project-content-detail h5 {
  width: 148px;
  height: 29px;
  text-align: left;
  color: #333;
  font-family: "Outfit", sans-serif;
  font-size: 28.715px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 28.715px */
}

.s-testimonial {
  background-color: #F7F8FD;
  width: 100%;
  height: 690px;
  position: absolute;
  top: 2892px;
}
.s-testimonial .s-testimonial-head {
  position: relative;
  top: 92px;
  width: 665.02px;
  height: 97.19px;
}
.s-testimonial .s-testimonial-head .s-testimonial-head-path {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-testimonial .s-testimonial-head .s-testimonial-head-path h2 {
  margin-bottom: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}
.s-testimonial .s-testimonial-head .s-testimonial-head-tittle {
  margin-top: 28px;
  color: #333333;
}
.s-testimonial .s-testimonial-head .s-testimonial-head-tittle h1 {
  font-family: "Outfit", sans-serif;
  font-size: 37px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 55.5px */
}
.s-testimonial .s-testimonial-img {
  position: absolute;
  top: 59px;
  width: 580.41px;
  height: 571.71px;
  right: 0; /* Menempatkan elemen ke bagian paling kiri */
  margin-right: 0px;
  border-radius: 60px 0px 0px 60px; /* Memperbaiki sintaks penulisan untuk border-radius */
}
.s-testimonial .s-testimonial-quote {
  position: relative;
  width: 526.38px;
  height: 193px;
  top: 138px;
  left: 29.12px;
  display: flex; /* Menjadikan elemen ini sebagai flex container */
  justify-content: space-between; /* Menyebarkan elemen anak di sepanjang container dengan ruang di antara mereka */
}
.s-testimonial .s-testimonial-quote img {
  width: 44.64px;
  height: 44px;
}
.s-testimonial .s-testimonial-quote p {
  color: #000000;
  font-family: "Outfit", sans-serif;
  width: 458px;
  height: 193px;
  font-size: 26px;
  font-weight: 300;
  line-height: 37.7px;
  text-align: left;
}
.s-testimonial .s-testimonial-name {
  position: relative;
  width: 256.52px;
  height: 81px;
  top: 181px;
  display: flex; /* Menjadikan elemen ini sebagai flex container */
  justify-content: space-between; /* Menyebarkan elemen anak di sepanjang container dengan ruang di antara mereka */
}
.s-testimonial .s-testimonial-name img {
  width: 97.86px;
  height: 95px;
  margin-right: 26px;
}
.s-testimonial .s-testimonial-name .s-testimonial-name-idendtity {
  width: 256.52px;
  height: 81px;
  color: #000000;
}
.s-testimonial .s-testimonial-name .s-testimonial-name-idendtity h4 {
  width: 256.52px;
  height: 39px;
  font-family: "Outfit", sans-serif;
  font-size: 27px;
  font-weight: 600;
  line-height: 39.15px;
  text-align: left;
}
.s-testimonial .s-testimonial-name .s-testimonial-name-idendtity h5 {
  width: 256.52px;
  height: 39px;
  font-family: "Outfit", sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 39.15px;
  text-align: left;
}

.s-kontak {
  width: 100%;
  position: absolute;
  height: 741px;
  top: 3590px;
}
.s-kontak .s-kontak-head {
  position: relative;
  top: 185px;
  width: 460px;
  height: 296px;
  align-items: center;
}
.s-kontak .s-kontak-head .s-kontak-head-path {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-kontak .s-kontak-head .s-kontak-head-path h2 {
  margin-bottom: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}
.s-kontak .s-kontak-head .s-kontak-head-tittle {
  color: #052925;
}
.s-kontak .s-kontak-head .s-kontak-head-tittle h1 {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 158.824% */
  margin-bottom: 20px;
}
.s-kontak .s-kontak-head .s-kontak-hr {
  width: 141px;
  height: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.s-kontak .s-kontak-head .s-kontak-head-deskripsi {
  width: 460px;
  height: 108px;
  color: #052925;
}
.s-kontak .s-kontak-head .s-kontak-head-deskripsi p {
  text-align: left;
  color: #052925;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px; /* 180% */
}
.s-kontak .s-kontak-form {
  position: absolute;
  top: 134px;
  right: 166px;
  background-color: #F8F8F8;
  width: 518px;
  height: 500px;
  border-radius: 20px;
  padding: 40px 40px 29px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.s-kontak .s-kontak-form label {
  display: block;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
.s-kontak .s-kontak-form input[type=text] {
  margin-bottom: 10px;
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #AFAFAF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}
.s-kontak .s-kontak-form input[type=text]:focus {
  outline: 2px solid #FAC568;
}
.s-kontak .s-kontak-form button {
  width: 100%;
  padding: 15px;
  background-color: #FAC568;
  color: #000000;
  border: none;
  border-radius: 100px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.s-kontak .s-kontak-form button:hover {
  background-color: #e6a700;
}

.s-footer {
  background-color: #15548D;
  width: 100%;
  height: 700px;
  position: absolute;
  top: 4343px;
  color: white;
  font-family: Arial, sans-serif;
}
.s-footer .s-footer-logo {
  position: relative;
  top: 71px;
  width: 192.4px;
  height: 65px;
  margin-bottom: 50px;
}
.s-footer .s-footer-logo img {
  width: 100%;
  height: auto;
}
.s-footer .footer-sections {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-top: 190px;
}
.s-footer .footer-sections .section {
  flex: 1;
  padding: 0 20px;
}
.s-footer .footer-sections .section h4 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}
.s-footer .footer-sections .section ul {
  list-style: none;
  padding: 0;
}
.s-footer .footer-sections .section ul li {
  margin-bottom: 10px;
}
.s-footer .footer-sections .section ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.s-footer .footer-sections .section ul li a:hover {
  text-decoration: underline;
}
.s-footer .social-media {
  display: flex;
  justify-content: left;
  margin-top: 30px;
}
.s-footer .social-media img {
  margin-right: 16px;
  color: white;
  font-size: 20px;
}
.s-footer .social-media img:hover {
  color: #aaa;
}
.s-footer hr {
  background-color: rgba(255, 255, 255, 0.6);
}
.s-footer .s-footer-bottom {
  position: relative;
  top: 51px;
  width: 1, 181px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-footer .s-footer-bottom .s-footer-bottom-inform {
  width: 210px;
  height: 78px;
  gap: 14px;
  opacity: 0px;
  display: block;
  gap: 14px;
}
.s-footer .s-footer-bottom .s-footer-bottom-inform ul {
  list-style: none;
}
.s-footer .s-footer-bottom .s-footer-bottom-inform ul a {
  color: #FFFFFF;
  text-decoration: underline;
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 0;
  width: 375.03px;
  height: 56px;
  gap: 16.97px;
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector img {
  width: 44.12px;
  height: 44.12px;
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector select {
  width: 313.94px;
  height: 56px;
  border-radius: 1696.97px;
  padding: 8.48px, 25.45px, 8.48px, 25.45px;
  justify-content: space-between;
  background-color: #29679F;
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector select option {
  font-size: 20.36px;
  font-weight: 300;
  line-height: 30.55px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Outfit", sans-serif;
}
.s-footer .s-footer-copy {
  position: absolute;
  width: 534px;
  height: 33px;
  top: 570px;
  font-family: "Outfit", sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 33px;
  text-align: left;
}
.s-footer .s-footer-copy a {
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */